@media screen and (max-width: 567px) {
    .container {
        max-width: 95%;
    }
}
@media screen and (min-width: 568px) {
    .container {
        max-width: 70%;
    }
}

.container {
    margin-bottom: 150px;
}

.img {
    height: auto;
    width: 350px; /* Set a small width */
}

.projTitle {
    font-family: 'Indie Flower', cursive;
}

.projDescription {
    font-family: 'Brygada 1918', serif;
}